<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Formulário Completo</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="page">
      <form id="the-form">
        <div class="checkbox-wrapper">
          <input type="checkbox" name="event-checkbox" id="event-checkbox" />
          <label for="event-checkbox">Evento privado</label>
        </div>
      </form>
    </div>
  </body>
</html>
